// Fonts
// font-family: 'Alata', sans-serif; Weight 400
// font-family: 'Josefin Sans', sans-serif; Weight 300

// Colours
$dk-gray: hsl(0, 0%, 55%);
$vdk-gray: hsl(0, 0%, 41%);

// Resets

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: 'Alata', sans-serif;
}

// Styles

// Navbar
.nav {
  width: 100%;
  padding-top: 4rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-logo {
    margin-left: 2.5rem;
    width: 14.5rem;
    height: auto;
    z-index: 10;
  }

  .nav-links-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 1;
    transition: opacity 0.5s, height 0.25s ease-in;

    li {
      margin-top: 3rem;
      margin-left: 2.5rem;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 2.5rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #ffffff;
    }

    li:first-child {
      margin-top: 19rem;
    }
  }

  .nav-links-desktop {
    display: none;
  }

  #nav-open-close {
    width: 3rem;
    height: 2.5rem;
    position: relative;
    margin: 0 2.5rem;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-open-close {
    span {
      display: block;
      position: absolute;
      height: 0.2rem;
      width: 100%;
      background: #ffffff;
      border-radius: 3px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
    }
  }

  #nav-open-close span:nth-child(1) {
    top: 0px;
  }

  #nav-open-close span:nth-child(2),
  #nav-open-close span:nth-child(3) {
    top: 0.8rem;
  }

  #nav-open-close span:nth-child(4) {
    top: 1.6rem;
  }

  #nav-open-close.open span:nth-child(1) {
    top: 0.8rem;
    width: 0%;
    left: 50%;
  }

  #nav-open-close.open span:nth-child(2) {
    transform: rotate(45deg);
  }

  #nav-open-close.open span:nth-child(3) {
    transform: rotate(-45deg);
  }

  #nav-open-close.open span:nth-child(4) {
    top: 0.8rem;
    width: 0%;
    left: 50%;
  }
}

.nav:not(.mobile-open) {
  .nav-links-mobile {
    height: 0px;
    opacity: 0;
    transition: opacity 0.25s, height 0.25s ease-out;
  }
}

.page-link {
  cursor: pointer;
  position: relative;
}

.page-link:hover::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1rem;
  height: 0.2rem;
  width: 2.5rem;
  background-color: #ffffff;
}

.scroll-lock {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

// Hero image and text
.hero {
  height: 65rem;
  background-image: url(../images/mobile/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  width: 88%;
  padding: 2.5rem;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
}

// All sections
section {
  width: 87%;
  margin: 10rem auto 0 auto;
  text-align: center;

  h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 300;
  }
}

// Specific sections ---
// Intro
.intro {
  .intro-img-mobile {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .intro-img-desktop {
    display: none;
  }

  h2 {
    margin-top: 5rem;
    padding: 0 2.5rem;
  }

  p {
    margin-top: 2.5rem;
    padding: 0 2.5rem;
    color: $dk-gray;
    line-height: 2.5rem;
  }
}

// Projects
.projects-section {
  h2 {
    padding-bottom: 2.5rem;
  }
}

.projects-grid {
  .project {
    position: relative;
    margin-top: 2.5rem;

    .img-gradient::after {
      content: '';
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    }

    .img-gradient:hover::after {
      background: none rgba(255, 255, 255, 0.75);
    }

    .img-gradient:hover + .project-title {
      color: #000;
    }

    .project-img-mobile {
      max-width: 100%;
      display: block;
    }

    .project-img-desktop {
      display: none;
    }

    .project-title {
      position: absolute;
      max-width: 12.5rem;
      bottom: 2.5rem;
      left: 2rem;
      color: #ffffff;
      text-align: left;
      font-family: 'Josefin Sans', sans-serif;
      text-transform: uppercase;
      font-size: 2.4rem;
      font-weight: 300;
    }
  }
}

.see-all-btn {
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  margin-top: 3.5rem;
  padding: 1rem 3.5rem;
  border: 1px solid #000;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.see-all-btn:hover {
  color: #ffffff;
  background-color: #000;
}

.see-all-btn-desktop {
  display: none;
}

// Footer section
footer {
  width: 100%;
  margin-top: 10rem;
  padding-bottom: 6rem;
  padding-top: 5.5rem;
  background-color: #000;
  color: #ffffff;
  font-size: 1.4rem;
  position: relative;

  .footer-logo {
    width: 15.5rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  li {
    margin-top: 4rem;
    font-weight: 400;
  }
}

.social-links {
  width: 40%;
  margin: 5rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    cursor: pointer;
  }
}

.copyright {
  margin-top: 2rem;
  text-align: center;
  color: $dk-gray;
}

// ----- START OF MEDIA -----
@media (min-width: 44em) {
  // First width change - 704px

  .nav {
    .nav-logo {
      margin-left: 16rem;
    }

    .nav-links-desktop {
      margin-left: auto;
      display: flex;
      color: #ffffff;
      z-index: 10;

      li {
        margin-right: 3.5rem;
      }

      li:last-child {
        margin-right: 12.5rem;
      }
    }
  }

  .nav {
    #nav-open-close {
      display: none;
    }
  }

  .hero {
    background-image: url(../images/desktop/image-hero.jpg);
    backdrop-filter: brightness(0.5);
    background-position: right;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .hero-text {
    max-width: 65rem;
    margin-top: 22rem;
    margin-left: 16.5rem;
    padding: 4.5rem;
    z-index: 10;
    font-size: unquote('clamp(4rem, 1.168rem + 4.05vw, 7rem)');
  }

  .intro-text {
    h2 {
      font-size: 3.8rem;
    }
  }

  .projects-section {
    h2 {
      font-size: 3.8rem;
      padding-bottom: 0;
    }
  }

  .projects-grid {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem 1.5rem;

    .project {
      position: relative;
      margin-top: 0;
    }
  }
}

@media (min-width: 73.4375em) {
  // Second width change - 1,175px
  .intro {
    position: relative;

    .intro-img-mobile {
      display: none;
    }

    .intro-img-desktop {
      width: 100%;
      max-width: 73.5rem;
      height: auto;
      display: block;
    }

    .intro-text {
      width: 55rem;
      padding: 10rem 0 0 10rem;
      position: absolute;
      bottom: -0.1rem;
      right: 0;
      background-color: #ffffff;

      h2 {
        margin: 0;
        padding: 0;
        font-size: 4.5rem;
      }

      p {
        margin: 3rem 0 0 0;
        padding: 0;
      }
    }
  }

  section {
    width: 78%;
    margin-top: 18rem;
    text-align: left;
  }

  .projects-section {
    h2 {
      font-size: 4.7rem;
    }
  }

  .projects-grid {
    margin-top: 9rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3rem 3rem;

    .project {
      .project-img-mobile {
        display: none;
      }

      .project-img-desktop {
        width: 25.5rem;
        max-width: 100%;
        display: block;
      }

      .project-title {
        max-width: 15.5rem;
        bottom: 3.75rem;
        left: 4rem;
        font-size: 3rem;
      }

      .img-gradient::after {
        max-width: 25.5rem;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
      }
    }
  }

  .projects-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      margin: 0;
    }
  }

  .see-all-btn-desktop {
    display: block;
  }

  .see-all-btn-mobile {
    display: none;
  }

  // Footer section
  footer {
    margin-top: 18rem;
    padding: 4.5rem 16rem;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    position: relative;

    .footer-logo {
      width: 15.5rem;
      position: relative;
      left: 0;
      top: 0.6rem;
      transform: translateX(1%);
    }
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    li {
      margin: 0 3rem 0 0;
    }
  }

  .social-links {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-end;

    li {
      margin-left: 1.5rem;
    }
  }

  .copyright {
    margin: 3rem 0 0 0;
    text-align: right;
  }
}

@media (max-width: 61.3125em) {
  // 981px
  // Only here to ensure hero text margin is balanced at all screen sizes

  .hero {
    justify-content: center;
  }

  .hero-text {
    margin-left: 0;
  }
}

@media (max-width: 62.5rem) and (min-width: 44em) {
  // Tidy up for the navbar logo at medium screen widths
  .nav {
    .nav-logo {
      margin-left: 5%;
    }

    .nav-links-desktop {
      li:last-child {
        margin-right: 7rem;
      }
    }
  }
}
// ----- END OF MEDIA -----
