*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: 'Alata', sans-serif;
}

.nav {
  width: 100%;
  padding-top: 4rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-logo {
  margin-left: 2.5rem;
  width: 14.5rem;
  height: auto;
  z-index: 10;
}

.nav .nav-links-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.nav .nav-links-mobile li {
  margin-top: 3rem;
  margin-left: 2.5rem;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
}

.nav .nav-links-mobile li:first-child {
  margin-top: 19rem;
}

.nav .nav-links-desktop {
  display: none;
}

.nav #nav-open {
  width: 3rem;
  height: 3rem;
  margin-right: 2.5rem;
  color: #ffffff;
  cursor: pointer;
  display: none;
}

.nav #nav-close {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 2.5rem;
  cursor: pointer;
  z-index: 10;
}

.nav:not(.mobile-open) .nav-links-mobile {
  display: none;
}

.nav:not(.mobile-open) #nav-open {
  display: block;
}

.nav:not(.mobile-open) #nav-close {
  display: none;
}

.page-link {
  cursor: pointer;
  position: relative;
}

.page-link:hover::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -1rem;
  height: 0.2rem;
  width: 2.5rem;
  background-color: #ffffff;
}

.scroll-lock {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.hero {
  height: 65rem;
  background-image: url(../images/mobile/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-text {
  width: 88%;
  padding: 2.5rem;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
}

section {
  width: 87%;
  margin: 10rem auto 0 auto;
  text-align: center;
}

section h2 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
}

.intro .intro-img-mobile {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.intro .intro-img-desktop {
  display: none;
}

.intro h2 {
  margin-top: 5rem;
  padding: 0 2.5rem;
}

.intro p {
  margin-top: 2.5rem;
  padding: 0 2.5rem;
  color: #8c8c8c;
  line-height: 2.5rem;
}

.projects-section h2 {
  padding-bottom: 2.5rem;
}

.projects-grid .project {
  position: relative;
  margin-top: 2.5rem;
}

.projects-grid .project .img-gradient::after {
  content: '';
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.projects-grid .project .img-gradient:hover::after {
  background: none rgba(255, 255, 255, 0.75);
}

.projects-grid .project .img-gradient:hover + .project-title {
  color: #000;
}

.projects-grid .project .project-img-mobile {
  max-width: 100%;
  display: block;
}

.projects-grid .project .project-img-desktop {
  display: none;
}

.projects-grid .project .project-title {
  position: absolute;
  max-width: 12.5rem;
  bottom: 2.5rem;
  left: 2rem;
  color: #ffffff;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 300;
}

.see-all-btn {
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-top: 3.5rem;
  padding: 1rem 3.5rem;
  border: 1px solid #000;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.see-all-btn:hover {
  color: #ffffff;
  background-color: #000;
}

.see-all-btn-desktop {
  display: none;
}

footer {
  width: 100%;
  margin-top: 10rem;
  padding-bottom: 6rem;
  padding-top: 5.5rem;
  background-color: #000;
  color: #ffffff;
  font-size: 1.4rem;
  position: relative;
}

footer .footer-logo {
  width: 15.5rem;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-links li {
  margin-top: 4rem;
  font-weight: 400;
}

.social-links {
  width: 40%;
  margin: 5rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-links li {
  cursor: pointer;
}

.copyright {
  margin-top: 2rem;
  text-align: center;
  color: #8c8c8c;
}

@media (min-width: 44em) {
  .nav .nav-logo {
    margin-left: 16rem;
  }
  .nav .nav-links-desktop {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    z-index: 10;
  }
  .nav .nav-links-desktop li {
    margin-right: 3.5rem;
  }
  .nav .nav-links-desktop li:last-child {
    margin-right: 12.5rem;
  }
  .nav:not(.mobile-open) #nav-open {
    display: none;
  }
  .hero {
    background-image: url(../images/desktop/image-hero.jpg);
    -webkit-backdrop-filter: brightness(0.5);
            backdrop-filter: brightness(0.5);
    background-position: right;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .hero-text {
    max-width: 65rem;
    margin-top: 22rem;
    margin-left: 16.5rem;
    padding: 4.5rem;
    z-index: 10;
    font-size: clamp(4rem, 1.168rem + 4.05vw, 7rem);
  }
  .intro-text h2 {
    font-size: 3.8rem;
  }
  .projects-section h2 {
    font-size: 3.8rem;
    padding-bottom: 0;
  }
  .projects-grid {
    margin-top: 6rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem 1.5rem;
  }
  .projects-grid .project {
    position: relative;
    margin-top: 0;
  }
}

@media (min-width: 73.4375em) {
  .intro {
    position: relative;
  }
  .intro .intro-img-mobile {
    display: none;
  }
  .intro .intro-img-desktop {
    width: 100%;
    max-width: 73.5rem;
    height: auto;
    display: block;
  }
  .intro .intro-text {
    width: 55rem;
    padding: 10rem 0 0 10rem;
    position: absolute;
    bottom: -0.1rem;
    right: 0;
    background-color: #ffffff;
  }
  .intro .intro-text h2 {
    margin: 0;
    padding: 0;
    font-size: 4.5rem;
  }
  .intro .intro-text p {
    margin: 3rem 0 0 0;
    padding: 0;
  }
  section {
    width: 78%;
    margin-top: 18rem;
    text-align: left;
  }
  .projects-section h2 {
    font-size: 4.7rem;
  }
  .projects-grid {
    margin-top: 9rem;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3rem 3rem;
  }
  .projects-grid .project .project-img-mobile {
    display: none;
  }
  .projects-grid .project .project-img-desktop {
    width: 25.5rem;
    max-width: 100%;
    display: block;
  }
  .projects-grid .project .project-title {
    max-width: 15.5rem;
    bottom: 3.75rem;
    left: 4rem;
    font-size: 3rem;
  }
  .projects-grid .project .img-gradient::after {
    max-width: 25.5rem;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  }
  .projects-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects-title button {
    margin: 0;
  }
  .see-all-btn-desktop {
    display: block;
  }
  .see-all-btn-mobile {
    display: none;
  }
  footer {
    margin-top: 18rem;
    padding: 4.5rem 16rem;
    font-size: 1.4rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    position: relative;
  }
  footer .footer-logo {
    width: 15.5rem;
    position: relative;
    left: 0;
    top: 0.6rem;
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer-links li {
    margin: 0 3rem 0 0;
  }
  .social-links {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .social-links li {
    margin-left: 1.5rem;
  }
  .copyright {
    margin: 3rem 0 0 0;
    text-align: right;
  }
}

@media (max-width: 61.3125em) {
  .hero {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-text {
    margin-left: 0;
  }
}

@media (max-width: 62.5rem) and (min-width: 44em) {
  .nav .nav-logo {
    margin-left: 5%;
  }
  .nav .nav-links-desktop li:last-child {
    margin-right: 7rem;
  }
}
/*# sourceMappingURL=styles.css.map */